@tailwind screens;

html {
    scroll-behavior: smooth;
}

h1 {
    @apply font-medium text-xl sm:text-2xl text-secondary;
}

h2 {
    @apply font-medium text-lg sm:text-xl text-secondary;
}

p, li {
    @apply text-xs sm:text-base;
}

.section {
    @apply py-8 px-4 sm:px-8;
}

.section-screen {
    @apply py-8 px-4 sm:px-8 sm:min-h-device flex flex-col;
}

.button {
    @apply whitespace-nowrap bg-accent-dark text-white py-3 px-6
    shadow-none rounded-lg cursor-pointer ease-in-out duration-300
    flex items-center justify-center space-x-2 font-bold;
}

.button:hover {
    @apply shadow-lg rounded-none;
}

.background {
    z-index: -9;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: #f8e6ef;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.36'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*TODO: add attributes to existing button */
.xyz {
    @apply inline-flex justify-center px-4 py-2 text-sm font-medium
    text-blue-900 bg-blue-100 border border-transparent rounded-md
    hover:bg-blue-200 focus:outline-none focus-visible:ring-2
    focus-visible:ring-offset-2 focus-visible:ring-blue-500;
}